body {
  background-color: black;
  /* lightblue; */
}

h1 {
  font-size: 30px;
  color: rgb(246, 228, 206);
  /* margin: 10px; */
  margin-top: 10px;
  padding: 0;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

canvas {
  border: 1px solid black;
  display: block;
  margin-left: 20px auto;
  margin-right: 20px auto;
}

button {
  height: 50px;
  background-color: rgb(32, 185, 164);
  color: rgb(246, 228, 206);
  border: none;
  border-radius: 20%;
  font-family: monospace;
  font-size: 30px;
  /* clamp(1rem, 3vw, 200rem); */
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}

button:active {
  background-color: rgb(21, 119, 106);
  cursor: grabbing;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-rows: 45px auto;
  grid-template-areas:
    "title but but"
    "slider slider slider";
}

#bigbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Ope Afolabi mostly */
#slider-container {
  grid-area: slider;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  background: rgb(246, 228, 206);
  padding: 1.5rem;
  border-radius: 20px;
  margin: 1rem;
  width: clamp(200px, 20%, 500px);
  height: 5px;
  box-shadow: 0 px 32px 40 px -19px rgb(0, 0, 0, 0.25);
}

/* Ope Afolabi mostly*/
.slider {
  appearance: none;
  width: 100%;
  height: 8px;
  background: rgb(0, 0, 0);
  outline: none;
  border-radius: 5px;
}

.label {
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 15px;
}

input[type="number"] {
  color: rgb(246, 228, 206);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  padding: 5px;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  background: rgb(32, 185, 164);
}

.slider::-moz-range-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  background: rgb(32, 185, 164);
}

.vallabel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-left: 1rem;
  background: #000000;
  color: white;
  width: 50px;
  height: 28px;
  border-radius: 5px;
}

#turtlecanvas {
  background-color: #000000;
  /* border: 1px solid lightblue; */
}
